<div class="container">
    <div>
        <h2>Sign Up</h2>

        <a routerLink="/" class="back-link">< Back</a>
        <form class="signup-form">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required [(ngModel)]="signUpObj.username"><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required [(ngModel)]="signUpObj.email"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required [(ngModel)]="signUpObj.password"><br>

            <button type="button" (click)="onSignUp()" class="signup-button">Sign Up</button>
            <button type="button" (click)="onCancel()" class="cancel-button">Cancel</button>
        </form>
    </div>
</div>
